/* Container 설정 */
.delete-container {
  position: relative;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 배경 이미지 */
.delete-bg-img {
  position: absolute;
  width: 80%;
  height: 80%;
  object-fit: contain;
  opacity: 1; /* 배경 투명도 적용 */
  z-index: 0;
}

/* 중앙 카드 스타일 */
.delete-card {
  background: rgba(255, 255, 255, 0.8); /* 반투명 효과 */
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
}

/* 카드 제목 */
.delete-card-title {
  padding-top: 20px;
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 20px;
}
